<!-- <img src="img/compra.jpg" alt="Product screenshot" id="maskimg" class="w-full] max-w-none rounded-xl shadow-lg ring-1 ring-gray-400/10 sm:w-full md:-ml-4 lg:-ml-0" width="2432" height="1442"> -->
<div class="" class=" swiper h-full   w-full max-w-none rounded-xl shadow-lg ring-1 ring-gray-400/10 sm:w-full md:-ml-4 lg:-ml-0" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="https://img.freepik.com/foto-gratis/mujer-sonriente-sosteniendo-taza-cafe-bolsas-compra_23-2148684499.jpg?w=900&t=st=1725292053~exp=1725292653~hmac=d096b1a078e6a33da447388f4fb1f0aedeaa0a079e2ee6a6ae06f1e5880a2bc8" class="w-full h-auto object-cover max-w-none rounded-xl shadow-lg ring-1 ring-gray-400/10 sm:w-full md:-ml-4 lg:-ml-0" ></div>
      <div class="swiper-slide"><img src="img/compra.jpg" alt="Product screenshot" id="maskimg" class="w-full max-w-none rounded-xl shadow-lg ring-1 ring-gray-400/10 sm:w-full md:-ml-4 lg:-ml-0" width="2432" height="1442"></div>
      <div class="swiper-slide"><img src="https://images.pexels.com/photos/7363128/pexels-photo-7363128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full max-w-none rounded-xl shadow-lg ring-1 ring-gray-400/10 sm:w-full md:-ml-4 lg:-ml-0" width="2432" height="1442"></div>
    </div>
   
   
  </div>